<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fingerprint Voting System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<form method="post" action="{{ url_for('AddElection')}}">
<!--    Description of the election-->
    <div style="margin-left: 20px">
        <br>
        <label for="tarea">Description</label>
        <textarea class="form-control" id="tarea" rows="5" style="width: 600px" name="description"></textarea>
    </div>
<br>
<!--Start Date of the election-->
<div style="margin-left: 20px">
    <label for="date">Date</label>
    <br>
    <input type="date" id="date" name="date">
</div>
<br>
<!-- Start Time of the election-->
<div style="margin-left: 20px">
    <label for="time">Time</label>
    <br>
    <input type="time" id="time" name="time">
</div>
<br>
  <!--End Date of the election-->
<div style="margin-left: 20px">
    <label for="date">End Date</label>
    <br>
    <input type="date" id="endDate" name="endDate">
</div>
<br>
    <!-- End Time of the election-->
<div style="margin-left: 20px">
    <label for="time">End Time</label>
    <br>
    <input type="time" id="endTime" name="endTime">
</div>
<br>
<br>
<br>
<button id="add_button" style="margin-left: 20px;width: 200px" class="btn btn-success">Add Election</button>
    </form>
<br>
<br>
<div style="margin-left: 20px">
<a href="{{ url_for('Elections')}}"><button style="width: 200px" class="btn btn-danger">Cancel</button></a>
</div>


</body>
</html>