<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fingerprint Voting System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <table style="margin-left: 100px; margin-top: 20px" class="table table-bordered">
    <thead>
      <tr>
        <th>Election ID</th>
        <th>Result</th>
        <th>Date</th>
        <th>Time</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for election in elections %}
        <tr>
          <td>{{election[0]}}</td>
          <td>{{election[1]}}</td>
          <td>{{election[2]}}</td>
          <td>{{election[3]}}</td>
          <td>{{election[4]}}</td>
          <td>
            <button class="btn btn-primary">Update</button>

             <form method="post" action="{{ url_for('RemoveElection')}}">
            <input type="hidden" name="ElectionID" id="ElectionID" value="{{election[0]}}">
            <button class="btn btn-danger">Remove</button>
               </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ url_for('AddElection')}}">
<button style="margin-left: 30px" class="btn btn-primary">Add Election</button>
</a>

</body>
</html>