<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fingerprint Voting System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <table style="margin-top: 20px" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Citizen ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>DOB</th>
        <th>Adress</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(candidatesList|length) %}
        <tr>
          <td>{{candidatesList[i][0]}}</td>
          <td>{{candidatesList[i][1]}}</td>
          <td>{{candidatesList[i][2]}}</td>
          <td>{{candidatesList[i][3]}}</td>
          <td>{{candidatesList[i][4]}}</td>
          <td><img src="data:image/png;base64,{{ Image[candidatesList.index(candidatesList[i])] }}" height="100" width="80"></td>
          <td><form method="post" action="{{url_for('RemoveCandidate',value=1)}}">
            <button id="{{candidatesList[i][0]}}"class="btn btn-danger">Remove</button>
            <input type="hidden" value={{candidatesList[i][0]}} name="candidateID">
            <input type="hidden" value={{electionID}} name="ElectionID">
          </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



<a href="{{ url_for('Candidates')}}">
<button style="margin-left: 30px" class="btn btn-secondary">Candidates Page</button>
</a>

</body>
</html>