{% extends "layout.html" %}
{% block content %}

<div>
    <table class="table table-bordered" style="background-color: white; width: 80%; margin-bottom: 30px; margin-top: 30px; border-radius: 15px;" align="center">
        <tr>
            <th>Election</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Election 1</td>
            <td>02.03.2024</td>
            <td>20.00 pm</td>
            <td><button type="button" class="btn btn-primary">Vote</button></td>
        </tr>
        <tr>
            <td>Election 1</td>
            <td>02.03.2024</td>
            <td>20.00 pm</td>
            <td><button type="button" class="btn btn-primary">Vote</button></td>
        </tr>
    </table>
</div>

{% endblock %}