{% extends "layout.html" %}
{% block content %}

<div>
    <table class="table table-bordered" style="background-color: white; width: 20%; margin-left: 40px;margin-top: 40px;float: left; white-space: nowrap;">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>ID</th>
            <th>Date of Birth</th>
        </tr>
        <tr>
            <td>{{person[1]}}</td>
            <td>{{person[2]}}</td>
            <td>{{person[0]}}</td>
            <td style="column-width: auto">{{person[3]}}</td>
        </tr>
    </table>
    <table class="table table-bordered" style="background-color: white; width: 50%; margin-bottom: 30px; margin-top:40px; margin-right: 120px; float: right " align="center">
        <tr>
            <th>Election</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for election in elections %}
            <tr>
                <form method="post" action="{{ url_for('voting_candidate_page')}}">
                <td>{{election[4]}}</td>
                <td>{{election[2]}}</td>
                <td>{{election[3]}}</td>
                <td>
                    <input type="hidden" name="election_id" value="{{election[0]}}">
                    <input type="submit" value="Vote"/>
                </td>
                </form>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}